In [57]:
import pandas as pd

‚úÖ 1. –û—Ç–∫—Ä–æ–π—Ç–µ –≤ –Ω–æ—É—Ç–±—É–∫–µ —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ ("train.csv") –∏ –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ –∏ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 5 —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

In [58]:
train_data=pd.read_csv('train.csv')
print("–ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫:")
print(train_data.head())
print("–ü–æ—Å–ª–µ–¥–Ω–∏–µ 5 —Å—Ç—Ä–æ–∫:")
print(train_data.tail())

–ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
–ü–æ—Å–ª–µ–¥–Ω–∏–µ 5 —Å—Ç—Ä–æ–∫:
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

‚úÖ 2. –ö–∞–∫–æ–π —Ä–∞–∑–º–µ—Ä –∏–º–µ–µ—Ç –¥–∞—Ç–∞—Ñ—Ä–µ–π–º?

In [59]:
print(train_data.size)
print(train_data.shape)

10692
(891, 12)

‚úÖ 3. –î–ª—è –∫–∞–∂–¥–æ–≥–æ –∏–∑ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ —É–∫–∞–∂–∏—Ç–µ –µ–≥–æ —Ç–∏–ø (–≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π, –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π, –ø–æ—Ä—è–¥–∫–æ–≤—ã–π, –¥—Ä—É–≥–æ–µ). –ü—Ä–∏–¥—É–º–∞–π—Ç–µ —Ç—Ä–∏ –∑–∞–¥–∞—á–∏, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã —Ä–µ—à–∞—Ç—å –¥–ª—è –¥–∞–Ω–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ ‚Äî –∑–∞–¥–∞—á—É —Ä–µ–≥—Ä–µ—Å—Å–∏–∏, –∑–∞–¥–∞—á—É –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –∏ –∑–∞–¥–∞—á—É –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏–∏.

–ü—Ä–∏–∑–Ω–∞–∫–∏:

Survived - –ë–∏–Ω–∞—Ä–Ω—ã–π;
Pclass - –ü–æ—Ä—è–¥–∫–æ–≤—ã–π;
Name - –ö–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π;
Sex - –ö–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π;
Age - –ß–∏—Å–ª–æ–≤–æ–π;
SibSp - –ü–æ—Ä—è–¥–∫–æ–≤—ã–π;
Parch - –ü–æ—Ä—è–¥–∫–æ–≤—ã–π;
Ticket - –ö–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π;
Fare - –ß–∏—Å–ª–æ–≤–æ–π;
Cabin - –ö–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π;
Embarked - –ö–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π

–ó–∞–¥–∞—á–∏:

–†–µ–≥—Ä–µ—Å—Å–∏—è: –ö–∞–∫–æ–π –ø—Ä–æ—Ü–µ–Ω—Ç –º—É–∂—á–∏–Ω –∏ –∂–µ–Ω—â–∏–Ω –≤—ã–∂–∏–≤–∞–µ—Ç –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –∫–æ—Ä–∞–±–ª–µ–∫—Ä—É—à–µ–Ω–∏—è.

–ö–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏—è: –†–∞–∑–¥–µ–ª–∏—Ç—å –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –ø–æ —É—Ä–æ–≤–Ω—é –∑–∞—Ä–æ–±–æ—Ç–∫–∞ –∏—Å—Ö–æ–¥—è –∏–∑ —Å—Ç–æ–π–º–æ—Å—Ç–∏ –∏—Ö –±–∏–ª–µ—Ç–æ–≤.

–ö–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏—è: –†–∞–∑–±–∏—Ç—å –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –Ω–∞ –≤–æ–∑—Ä–∞—Å—Ç–Ω—ã–µ –≥—Ä—É–ø–ø—ã.

‚úÖ 4. –ö–∞–∫–æ–≤–∞ –¥–æ–ª—è –≤—ã–∂–∏–≤—à–∏—Ö –ø–æ—Å–ª–µ –∫—Ä—É—à–µ–Ω–∏—è:
    - –≤—Å–µ—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤
    - –º—É–∂—á–∏–Ω
    - –∂–µ–Ω—â–∏–Ω?

In [60]:
all_surv=len(train_data[train_data['Survived']==1]) / len(train_data['Survived'])
men_surv=len(train_data[(train_data['Survived']==1) &(train_data['Sex']=='male')]) / len(train_data['Survived'])
women_surv=len(train_data[(train_data['Survived']==1) &(train_data['Sex']=='female')]) / len(train_data['Survived'])
print(f"–î–æ–ª—è –≤—ã–∂–∏–≤—à–∏—Ö={all_surv}")
print(f"–î–æ–ª—è –≤—ã–∂–∏–≤—à–∏—Ö –º—É–∂—á–∏–Ω –æ—Ç –æ–±—â–µ–≥–æ —á–∏—Å–ª–∞ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤={men_surv}")
print(f"–î–æ–ª—è –≤—ã–∂–∏–≤—à–∏—Ö –∂–µ–Ω—â–∏–Ω –æ—Ç –æ–±—â–µ–≥–æ —á–∏—Å–ª–∞ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤={women_surv}")

–î–æ–ª—è –≤—ã–∂–∏–≤—à–∏—Ö=0.3838383838383838
–î–æ–ª—è –≤—ã–∂–∏–≤—à–∏—Ö –º—É–∂—á–∏–Ω –æ—Ç –æ–±—â–µ–≥–æ —á–∏—Å–ª–∞ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤=0.122334455667789
–î–æ–ª—è –≤—ã–∂–∏–≤—à–∏—Ö –∂–µ–Ω—â–∏–Ω –æ—Ç –æ–±—â–µ–≥–æ —á–∏—Å–ª–∞ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤=0.2615039281705948

‚úÖ 5. –°–∫–æ–ª—å–∫–æ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –µ—Ö–∞–ª–æ –≤ –∫–∞–∂–¥–æ–º –∫–ª–∞—Å—Å–µ?

In [61]:
Pclass=train_data.Pclass.unique()
for i in Pclass:
    print(f"–ö–ª–∞—Å—Å {i}={len(train_data[train_data['Pclass']==i])}")

–ö–ª–∞—Å—Å 3=491
–ö–ª–∞—Å—Å 1=216
–ö–ª–∞—Å—Å 2=184

‚úÖ 6. –°–∫–æ–ª—å–∫–æ –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–∞—Å—Å–∞–∂–∏—Ä—ã –∑–∞–ø–ª–∞—Ç–∏–ª–∏ –∑–∞ –ø—Ä–æ–µ–∑–¥?

In [62]:
print(f"–°—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å –±–∏–ª–µ—Ç–∞={train_data['Fare'].mean()}")

–°—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å –±–∏–ª–µ—Ç–∞=32.204207968574636

‚úÖ 7. –í—Å–µ –ª–∏ –ø—Ä–∏–∑–Ω–∞–∫–∏ –Ω–µ—Å—É—Ç –≤ —Å–µ–±–µ –ø–æ–ª–µ–∑–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é?
    - –ò–∑–±–∞–≤—å—Ç–µ—Å—å –æ—Ç –Ω–µ–Ω—É–∂–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤, –æ–ø–∏—à–∏—Ç–µ –ø–æ—á–µ–º—É –≤—ã —Ä–µ—à–∏–ª–∏ –æ—Ç –Ω–∏—Ö –∏–∑–±–∞–≤–∏—Ç—å—Å—è

In [63]:
train_data.drop(['Name', 'Ticket'], axis= 1 , inplace= True )
train_data

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,71.2833,C85,C
2,3,1,3,female,26.0,0,0,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,53.1000,C123,S
4,5,0,3,male,35.0,0,0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,30.0000,B42,S
888,889,0,3,female,NaN,1,2,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,30.0000,C148,C
890,891,0,3,male,32.0,0,0,7.7500,NaN,Q

–ü—Ä–∏–∑–Ω–∞–∫–∏ 'Name' –∏ 'Ticket' –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã —Ç–æ–ª—å–∫–æ –¥–ª—è –∏–Ω–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ü–∏–∏ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–≥–æ –ø–∞—Å—Å–∞–∂–∏—Ä–∞, –Ω–æ –¥–ª—è —ç—Ç–æ–π –∑–∞–¥–∞—á–∏ –µ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫ 'PassengerId'.

‚úÖ 8. –ï—Å—Ç—å –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–ø—É—Å–∫–∏? –í –∫–∞–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö: —Å–∫–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º –∏–∑ –Ω–∏—Ö?

In [64]:
print("–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ:")
print(train_data.isna().sum())

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ:
PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Cabin          687
Embarked         2
dtype: int64

‚úÖ 9. –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç–µ –∫–∞–∫–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ–º —Å—Ç–æ–∏—Ç –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –µ–≥–æ —Ç–∏–ø–∞. –ó–∞–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–ø—É—Å–∫–∏ –∏ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –±–æ–ª—å—à–µ –Ω–µ—Ç.

–ü—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ 'Age' —Å—Ç–æ–∏—Ç –∑–∞–ø–æ–ª–Ω–∏—Ç—å –∑–Ω–∞—á–µ–Ω–∏–µ–º —Å—Ä–µ–¥–Ω–µ–≥–æ –≤–æ–∑—Ä–∞—Å—Ç–∞ –æ—Å—Ç–∞–ª—å–Ω—ã—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤. –¢–∞–∫ –∫–∞–∫ –ø—Ä–∏–∑–Ω–∞–∫–∏ 'Cabin' –∏ 'Embarked' - –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ, —Ç–æ –ø—Ä–æ–ø—É—Å–∫–∏ —Å—Ç–æ–∏—Ç –∑–∞–ø–æ–ª–Ω–∏—Ç—å –Ω—É–ª—è–º–∏.

In [65]:
train_data['Age']=train_data['Age'].fillna ( train_data['Age'].mean())
train_data['Cabin']=train_data['Cabin'].fillna (0)
train_data['Embarked']=train_data['Embarked'].fillna (0)
print(f"–ù–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤:{train_data.isnull().values.any()}")
train_data

–ù–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤:False

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.000000,1,0,7.2500,0,S
1,2,1,1,female,38.000000,1,0,71.2833,C85,C
2,3,1,3,female,26.000000,0,0,7.9250,0,S
3,4,1,1,female,35.000000,1,0,53.1000,C123,S
4,5,0,3,male,35.000000,0,0,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.000000,0,0,13.0000,0,S
887,888,1,1,female,19.000000,0,0,30.0000,B42,S
888,889,0,3,female,29.699118,1,2,23.4500,0,S
889,890,1,1,male,26.000000,0,0,30.0000,C148,C
890,891,0,3,male,32.000000,0,0,7.7500,0,Q

‚úÖ 10. –ü—Ä–∞–≤–¥–∞ –ª–∏, —á—Ç–æ —á–∞—â–µ –≤—ã–∂–∏–≤–∞–ª–∏ –ø–∞—Å—Å–∞–∂–∏—Ä—ã —Å –±–æ–ª–µ–µ –¥–æ—Ä–æ–≥–∏–º–∏ –±–∏–ª–µ—Ç–∞–º–∏?

In [66]:
count_rich=len(train_data[(train_data['Fare']>=train_data['Fare'].median()) &(train_data['Survived']==1)])
count_poor=len(train_data[(train_data['Fare']<train_data['Fare'].median()) &(train_data['Survived']==1)])
print(f"–í—ã–∂–∏–≤—à–∏–µ —Å –¥–æ—Ä–æ–≥–∏–º–∏ –±–∏–ª–µ—Ç–∞–º–∏={count_rich}")
print(f"–í—ã–∂–∏–≤—à–∏–µ —Å –¥–µ—à–µ–≤—ã–º–∏ –±–∏–ª–µ—Ç–∞–º–∏={count_poor}")

–í—ã–∂–∏–≤—à–∏–µ —Å –¥–æ—Ä–æ–≥–∏–º–∏ –±–∏–ª–µ—Ç–∞–º–∏=231
–í—ã–∂–∏–≤—à–∏–µ —Å –¥–µ—à–µ–≤—ã–º–∏ –±–∏–ª–µ—Ç–∞–º–∏=111

–û—Ç–≤–µ—Ç: –ü—Ä–∞–≤–¥–∞

‚úÖ 11. –°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (feature engineering) —è–≤–ª—è–µ—Ç—Å—è –æ–¥–Ω–∏–º –∏–∑ –æ—Å–Ω–æ–≤–Ω—ã—Ö —Å—Ä–µ–¥—Å—Ç–≤ —É–ª—É—á—à–µ–Ω–∏—è –∫–∞—á–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç—ã –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤ –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è –Ω–∞ —ç—Ç–∞–ø–µ –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö. 
 - –î–æ–±–∞–≤—å—Ç–µ –≤ —Ç–∞–±–ª–∏—Ü—É —Å—Ç–æ–ª–±–µ—Ü, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ —Ä–æ–¥–Ω—ã—Ö –ø–ª—ã–ª–æ –≤–º–µ—Å—Ç–µ —Å –ø–∞—Å—Å–∞–∂–∏—Ä–æ–º –Ω–∞ –∫–æ—Ä–∞–±–ª–µ, –≤–∫–ª—é—á–∞—è –µ–≥–æ —Å–∞–º–æ–≥–æ.
 - –ü—Ä–∏–¥—É–º–∞–π—Ç–µ —Å–≤–æ–π –ø—Ä–∏–∑–Ω–∞–∫, –∫–æ—Ç–æ—Ä—ã–π –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–µ–∑–µ–Ω, –∏ –¥–æ–±–∞–≤—å—Ç–µ –µ–≥–æ –≤ —Ç–∞–±–ª–∏—Ü—É.

In [67]:
train_data=pd.read_csv('train.csv')
#—Å–∫–æ–ª—å–∫–æ —Ä–æ–¥–Ω—ã—Ö
train_data['all_relatives']=train_data['SibSp']+train_data['Parch'] 

#—Å–∫–æ–ª—å–∫–æ –ª—é–¥–µ–π –≤ –æ–¥–Ω–æ–π –∫–∞—é—Ç–µ
number_cabin=train_data.Cabin.unique()
train_data['count_in_cabin']=0
dict={}
for i in number_cabin:
    dict[i]=len(train_data[train_data['Cabin']==i])
if '0' in dict: dict.pop(0)

train_data = (train_data
      .query("Cabin in @dict.keys()")
      .assign(count_in_cabin=lambda x: x["Cabin"].replace(dict)))
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,all_relatives,count_in_cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0

‚úÖ 12. –ï—Å—Ç—å –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–ø—É—Å–∫–∏? –í –∫–∞–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö: —Å–∫–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º –∏–∑ –Ω–∏—Ö?

In [68]:
print("–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ:")
print(train_data.isna().sum())

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ:
PassengerId         0
Survived            0
Pclass              0
Name                0
Sex                 0
Age               177
SibSp               0
Parch               0
Ticket              0
Fare                0
Cabin             687
Embarked            2
all_relatives       0
count_in_cabin      0
dtype: int64

‚úÖ 13. –ö–∞–∫–∞—è —Ñ–∞–º–∏–ª–∏—è –±—ã–ª–∞ —Å–∞–º–æ–π –ø–æ–ø—É–ª—è—Ä–Ω–æ–π –Ω–∞ –∫–æ—Ä–∞–±–ª–µ?)

In [69]:
train_data=pd.read_csv('train.csv')
train_data['Name']=train_data['Name'].str.split(',').str[0]

name=train_data.Name.unique()
max_count=0
for i in name:
    if max_count < len(train_data[train_data['Name']==i]):
        max_count,Surname = len(train_data[train_data['Name']==i]),i
        
print(f"–°–∞–º–∞—è –ø–æ–ø—É–ª—è—Ä–Ω–∞—è —Ñ–∞–º–∏–ª–∏—è:{Surname}")

–°–∞–º–∞—è –ø–æ–ø—É–ª—è—Ä–Ω–∞—è —Ñ–∞–º–∏–ª–∏—è:Andersson

### üìàNumpy

In [70]:
import numpy as np

‚úÖ 1. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤–æ–∑–≤—Ä–∞—â–∞—é—â—É—é –æ–∫—Ä—É–≥–ª–µ–Ω–Ω—É—é –≤–∑–≤–µ—à–µ–Ω–Ω—É—é —Å—É–º–º—É —á–∏—Å–µ–ª –ø–æ –¥–∞–Ω–Ω—ã–º —á–∏—Å–ª–∞–º –∏ –≤–µ—Å–∞–º –∫ –Ω–∏–º.

In [71]:
def weighted_size_numbers(weights: np.array, marks: np.array) -> int:
    result=int(np.dot(weights,marks))
    
    return result

In [72]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 10, 8, 6])

assert weighted_size_numbers(weights, marks) == 8

In [73]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 0, 8, 6])

assert weighted_size_numbers(weights, marks) == 4

‚úÖ 2. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤—ã–¥–∞—é—â—É—é –∏–Ω–¥–µ–∫—Å—ã ¬´–±–ª–∏–∑–∫–∏—Ö¬ª —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –∑–∞–¥–∞–Ω–Ω—ã—Ö –º–∞—Å—Å–∏–≤–æ–≤, –∞ –∏–º–µ–Ω–Ω–æ —Ç–µ—Ö –ø–∞—Ä —ç–ª–µ–º–µ–Ω—Ç–æ–≤, —á–µ–π –º–æ–¥—É–ª—å —Ä–∞–∑–Ω–∏—Ü—ã –Ω–µ –ø—Ä–µ–≤–æ—Å—Ö–æ–¥–∏—Ç –∑–∞–¥–∞–Ω–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –Ω–∞ –≤—Ö–æ–¥ –ø–æ—Å—Ç—É–ø–∞—é—Ç –º–∞—Å—Å–∏–≤ array([1.5, 0.5, 2, -4.1, -3, 6, -1]), –º–∞—Å—Å–∏–≤ array([1.2, 0.5, 1, -4, 3, 0, -1.2]) –∏ —á–∏—Å–ª–æ 0.5, —Ç–æ –Ω–∞ –≤—ã—Ö–æ–¥–µ –¥–æ–ª–∂–µ–Ω –ø–æ–ª—É—á–∏—Ç—å—Å—è –º–∞—Å—Å–∏–≤ array([0, 1, 3, 6]).

In [74]:
def find_close(array1: np.array, array2: np.array, precision: float) -> np.array:
    difference=np.subtract(array1,array2)
    result=[]
    for i in range(len(difference)):
        if np.abs(difference[i]) <= precision: result.append(i)
    return np.asarray(result)

In [75]:
array1 = np.array([1.5, 0.5, 2, -4.1, -3, 6, -1])
array2 = np.array([1.2, 0.5, 1, -4.0,  3, 0, -1.2])
precision = 0.5
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([0, 1, 3, 6]))

In [76]:
array1 = np.array([3.1415, 2.7182, 1.6180, 6.6261])
array2 = np.array([6.6730, 1.3807, -1,     6.0222])
precision = 1.7
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([1, 3]))

‚úÖ 3. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤—ã—á–∏—Å–ª—è—é—â—É—é –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ –≤—Å–µ—Ö –Ω–µ–Ω—É–ª–µ–≤—ã—Ö –¥–∏–∞–≥–æ–Ω–∞–ª—å–Ω—ã—Ö —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –Ω–∞ –¥–∏–∞–≥–æ–Ω–∞–ª–∏ –¥–∞–Ω–Ω–æ–π –∫–≤–∞–¥—Ä–∞—Ç–Ω–æ–π –º–∞—Ç—Ä–∏—Ü—ã. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –Ω–∞ –≤—Ö–æ–¥ –ø–æ—Å—Ç—É–ø–∞–µ—Ç –º–∞—Ç—Ä–∏—Ü–∞
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
6 & 7 & 8\\
\end{pmatrix},
$$
—Ç–æ –æ—Ç–≤–µ—Ç–æ–º –±—É–¥–µ—Ç 32.

–≠–ª–µ–º–µ–Ω—Ç—ã –º–∞—Ç—Ä–∏—Ü—ã —Å—á–∏—Ç–∞—Ç—å —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–º–∏.

In [77]:
def diag_prod(matrix: np.array) -> int:
    diag=np.diag(matrix)
    res=int(np.prod(diag[diag != 0]))
    return res

In [78]:
matrix = np.array([[0, 1, 2, 3],
                   [4, 5, 6, 7],
                   [8, 9, 10, 11],
                   [12, 13, 14, 15]])

assert diag_prod(matrix) == 750

‚úÖ 4. –î–ª—è —É–ª—É—á—à–µ–Ω–∏—è –∫–∞—á–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç—ã –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤ –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–µ–∑–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å [–Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—é –¥–∞–Ω–Ω—ã—Ö](https://vk.cc/8xmfQk), —á—Ç–æ–±—ã –ø—Ä–∏–≤–µ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–∏ –≤ –≤—ã–±–æ—Ä–∫–µ –∫ –æ–¥–Ω–æ–º—É –º–∞—Å—à—Ç–∞–±—É ‚Äî –∞ –∏–º–µ–Ω–Ω–æ, –∏–∑ –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –≤—ã—á–µ—Å—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏–π –∏ –ø–æ–¥–µ–ª–∏—Ç—å –Ω–∞ –∏—Ö —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –Ω–æ—Ä–º–∞–ª–∏–∑—É—é—â—É—é –≤—Ö–æ–¥—è—â—É—é –º–∞—Ç—Ä–∏—Ü—É (–ø–æ —Å—Ç–æ–ª–±—Ü–∞–º). –ü–æ–º–Ω–∏—Ç–µ, —á—Ç–æ –≤ –≤–∞—à–µ–º –º–∞—Ç—Ä–∏—Ü–µ –Ω–µ –¥–æ–ª–∂–Ω–æ –ø–æ–ª—É—á–∞—Ç—å—Å—è –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π nan. 

4* –ü–æ–¥—É–º–∞–π—Ç–µ, –ø–æ—á–µ–º—É –º–æ–≥–ª–∏ –±—ã –≤–æ–∑–Ω–∏–∫–Ω—É—Ç—å –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è?)

In [79]:
def normalize(matrix: np.array) -> np.array:
    res=[]
    for column in matrix.T:
    #–ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤–æ–∑–Ω–∏–∫–∞—é—Ç –≤ —Å–ª—É—á–∞–µ, –∫–æ–≥–¥–∞ —ç–ª–µ–º–µ–Ω—Ç—ã —Å—Ç–æ–ª–±—Ü–∞ –æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ
    #–¥–∞–Ω–Ω–æ–µ —É—Å–ª–æ–≤–∏–µ –ø–æ–º–æ–≥–∞–µ—Ç –∑–∞–º–µ–Ω–∏—Ç—å –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –Ω—É–ª—è–º–∏
        if len(np.unique(column))==1: column.fill(0)
        else:
            mean=np.mean(column)
            dev=np.std(column)
            column=column-mean
            column=column/dev
        res.append(column.tolist())
    res=np.asarray(res)
    return res.T

In [80]:
matrix = np.array([[1, 4, 4200], [0, 10, 5000], [1, 2, 1000]])

assert np.allclose(
    normalize(matrix),
    np.array([[ 0.7071, -0.39223,  0.46291],
              [-1.4142,  1.37281,  0.92582],
              [ 0.7071, -0.98058, -1.38873]])
)

In [81]:
matrix = np.array([[-7, 2, 42], [2, 10, 50], [5, 4, 10]])

assert np.allclose(
    normalize(matrix),
    np.array([[-1.37281, -0.98058,  0.46291],
              [ 0.39223,  1.37281,  0.92582],
              [ 0.98058, -0.39223, -1.38873]])
)

‚úÖ 5. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤—ã—á–∏—Å–ª—è—é—â—É—é –∫–æ—Å–∏–Ω—É—Å–Ω—É—é –±–ª–∏–∑–æ—Å—Ç—å –¥–≤—É—Ö –≤–µ–∫—Ç–æ—Ä–æ–≤. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –Ω–∞ –≤—Ö–æ–¥ –ø–æ—Å—Ç—É–ø–∞—é—Ç –≤–µ–∫—Ç–æ—Ä–∞ array([-2, 1, 0, -5, 4, 3, -3]) –∏ array([0, 2, -2, 10, 6, 0, 0]), –æ—Ç–≤–µ—Ç–æ–º –±—É–¥–µ—Ç -0.25.

In [82]:
def cosine_similarity(vec1: np.array, vec2: np.array) -> float:
    cos_eq = np.dot(vec1,vec2)/(np.linalg.norm(vec1)*np.linalg.norm(vec2))
    return cos_eq

In [83]:
vec1 = np.array([-2, 1,  0, -5, 4, 3, -3])
vec2 = np.array([ 0, 2, -2, 10, 6, 0,  0])

assert np.allclose(cosine_similarity(vec1, vec2), -0.25)

In [84]:
vec1 = np.array([-4, 2,  9, -8, 9, 0, -2])
vec2 = np.array([ 3, 2, -4, -1, 3, 2,  2])

assert np.allclose(cosine_similarity(vec1, vec2), -0.119929)