In [57]:
import pandas as pd

✅ 1. Откройте в ноутбуке файл с данными ("train.csv") и выведите первые и последние 5 строк датафрейма

In [58]:
train_data=pd.read_csv('train.csv')
print("Первые 5 строк:")
print(train_data.head())
print("Последние 5 строк:")
print(train_data.tail())

Первые 5 строк:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Последние 5 строк:
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

✅ 2. Какой размер имеет датафрейм?

In [59]:
print(train_data.size)
print(train_data.shape)

10692
(891, 12)

✅ 3. Для каждого из признаков укажите его тип (вещественный, категориальный, порядковый, другое). Придумайте три задачи, которые можно было бы решать для данного датасета — задачу регрессии, задачу классификации и задачу кластеризации.

Признаки:

Survived - Бинарный;
Pclass - Порядковый;
Name - Категориальный;
Sex - Категориальный;
Age - Числовой;
SibSp - Порядковый;
Parch - Порядковый;
Ticket - Категориальный;
Fare - Числовой;
Cabin - Категориальный;
Embarked - Категориальный

Задачи:

Регрессия: Какой процент мужчин и женщин выживает в результате кораблекрушения.

Классификация: Разделить пассажиров по уровню зароботка исходя из стоймости их билетов.

Кластеризация: Разбить пассажиров на возрастные группы.

✅ 4. Какова доля выживших после крушения:
    - всех пассажиров
    - мужчин
    - женщин?

In [60]:
all_surv=len(train_data[train_data['Survived']==1]) / len(train_data['Survived'])
men_surv=len(train_data[(train_data['Survived']==1) &(train_data['Sex']=='male')]) / len(train_data['Survived'])
women_surv=len(train_data[(train_data['Survived']==1) &(train_data['Sex']=='female')]) / len(train_data['Survived'])
print(f"Доля выживших={all_surv}")
print(f"Доля выживших мужчин от общего числа пассажиров={men_surv}")
print(f"Доля выживших женщин от общего числа пассажиров={women_surv}")

Доля выживших=0.3838383838383838
Доля выживших мужчин от общего числа пассажиров=0.122334455667789
Доля выживших женщин от общего числа пассажиров=0.2615039281705948

✅ 5. Сколько пассажиров ехало в каждом классе?

In [61]:
Pclass=train_data.Pclass.unique()
for i in Pclass:
    print(f"Класс {i}={len(train_data[train_data['Pclass']==i])}")

Класс 3=491
Класс 1=216
Класс 2=184

✅ 6. Сколько в среднем пассажиры заплатили за проезд?

In [62]:
print(f"Средняя стоимость билета={train_data['Fare'].mean()}")

Средняя стоимость билета=32.204207968574636

✅ 7. Все ли признаки несут в себе полезную информацию?
    - Избавьтесь от ненужных столбцов, опишите почему вы решили от них избавиться

In [63]:
train_data.drop(['Name', 'Ticket'], axis= 1 , inplace= True )
train_data

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,71.2833,C85,C
2,3,1,3,female,26.0,0,0,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,53.1000,C123,S
4,5,0,3,male,35.0,0,0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,30.0000,B42,S
888,889,0,3,female,NaN,1,2,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,30.0000,C148,C
890,891,0,3,male,32.0,0,0,7.7500,NaN,Q

Признаки 'Name' и 'Ticket' необходимы только для индентификации конкретного пассажира, но для этой задачи есть признак 'PassengerId'.

✅ 8. Есть ли в данных пропуски? В каких столбцах: сколько пропусков в каждом из них?

In [64]:
print("Количество пропусков в каждом столбце:")
print(train_data.isna().sum())

Количество пропусков в каждом столбце:
PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Cabin          687
Embarked         2
dtype: int64

✅ 9. Предположите каким значением стоит заполнить пропуски в каждом столбце в зависимости от его типа. Заполните пропуски и проверьте, что пропусков больше нет.

Пропуски в столбце 'Age' стоит заполнить значением среднего возраста остальных пассажиров. Так как признаки 'Cabin' и 'Embarked' - категориальные, то пропуски стоит заполнить нулями.

In [65]:
train_data['Age']=train_data['Age'].fillna ( train_data['Age'].mean())
train_data['Cabin']=train_data['Cabin'].fillna (0)
train_data['Embarked']=train_data['Embarked'].fillna (0)
print(f"Наличие пропусков:{train_data.isnull().values.any()}")
train_data

Наличие пропусков:False

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.000000,1,0,7.2500,0,S
1,2,1,1,female,38.000000,1,0,71.2833,C85,C
2,3,1,3,female,26.000000,0,0,7.9250,0,S
3,4,1,1,female,35.000000,1,0,53.1000,C123,S
4,5,0,3,male,35.000000,0,0,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.000000,0,0,13.0000,0,S
887,888,1,1,female,19.000000,0,0,30.0000,B42,S
888,889,0,3,female,29.699118,1,2,23.4500,0,S
889,890,1,1,male,26.000000,0,0,30.0000,C148,C
890,891,0,3,male,32.000000,0,0,7.7500,0,Q

✅ 10. Правда ли, что чаще выживали пассажиры с более дорогими билетами?

In [66]:
count_rich=len(train_data[(train_data['Fare']>=train_data['Fare'].median()) &(train_data['Survived']==1)])
count_poor=len(train_data[(train_data['Fare']<train_data['Fare'].median()) &(train_data['Survived']==1)])
print(f"Выжившие с дорогими билетами={count_rich}")
print(f"Выжившие с дешевыми билетами={count_poor}")

Выжившие с дорогими билетами=231
Выжившие с дешевыми билетами=111

Ответ: Правда

✅ 11. Создание новых признаков (feature engineering) является одним из основных средств улучшения качества работы алгоритмов машинного обучения на этапе обработки данных. 
 - Добавьте в таблицу столбец, который будет показывать, сколько родных плыло вместе с пассажиром на корабле, включая его самого.
 - Придумайте свой признак, который может быть полезен, и добавьте его в таблицу.

In [67]:
train_data=pd.read_csv('train.csv')
#сколько родных
train_data['all_relatives']=train_data['SibSp']+train_data['Parch'] 

#сколько людей в одной каюте
number_cabin=train_data.Cabin.unique()
train_data['count_in_cabin']=0
dict={}
for i in number_cabin:
    dict[i]=len(train_data[train_data['Cabin']==i])
if '0' in dict: dict.pop(0)

train_data = (train_data
      .query("Cabin in @dict.keys()")
      .assign(count_in_cabin=lambda x: x["Cabin"].replace(dict)))
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,all_relatives,count_in_cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0

✅ 12. Есть ли в данных пропуски? В каких столбцах: сколько пропусков в каждом из них?

In [68]:
print("Количество пропусков в каждом столбце:")
print(train_data.isna().sum())

Количество пропусков в каждом столбце:
PassengerId         0
Survived            0
Pclass              0
Name                0
Sex                 0
Age               177
SibSp               0
Parch               0
Ticket              0
Fare                0
Cabin             687
Embarked            2
all_relatives       0
count_in_cabin      0
dtype: int64

✅ 13. Какая фамилия была самой популярной на корабле?)

In [69]:
train_data=pd.read_csv('train.csv')
train_data['Name']=train_data['Name'].str.split(',').str[0]

name=train_data.Name.unique()
max_count=0
for i in name:
    if max_count < len(train_data[train_data['Name']==i]):
        max_count,Surname = len(train_data[train_data['Name']==i]),i
        
print(f"Самая популярная фамилия:{Surname}")

Самая популярная фамилия:Andersson

### 📈Numpy

In [70]:
import numpy as np

✅ 1. Напишите функцию, возвращающую округленную взвешенную сумму чисел по данным числам и весам к ним.

In [71]:
def weighted_size_numbers(weights: np.array, marks: np.array) -> int:
    result=int(np.dot(weights,marks))
    
    return result

In [72]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 10, 8, 6])

assert weighted_size_numbers(weights, marks) == 8

In [73]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 0, 8, 6])

assert weighted_size_numbers(weights, marks) == 4

✅ 2. Напишите функцию, выдающую индексы «близких» элементов заданных массивов, а именно тех пар элементов, чей модуль разницы не превосходит заданного значения. Например, если на вход поступают массив array([1.5, 0.5, 2, -4.1, -3, 6, -1]), массив array([1.2, 0.5, 1, -4, 3, 0, -1.2]) и число 0.5, то на выходе должен получиться массив array([0, 1, 3, 6]).

In [74]:
def find_close(array1: np.array, array2: np.array, precision: float) -> np.array:
    difference=np.subtract(array1,array2)
    result=[]
    for i in range(len(difference)):
        if np.abs(difference[i]) <= precision: result.append(i)
    return np.asarray(result)

In [75]:
array1 = np.array([1.5, 0.5, 2, -4.1, -3, 6, -1])
array2 = np.array([1.2, 0.5, 1, -4.0,  3, 0, -1.2])
precision = 0.5
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([0, 1, 3, 6]))

In [76]:
array1 = np.array([3.1415, 2.7182, 1.6180, 6.6261])
array2 = np.array([6.6730, 1.3807, -1,     6.0222])
precision = 1.7
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([1, 3]))

✅ 3. Напишите функцию, вычисляющую произведение всех ненулевых диагональных элементов на диагонали данной квадратной матрицы. Например, если на вход поступает матрица
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
6 & 7 & 8\\
\end{pmatrix},
$$
то ответом будет 32.

Элементы матрицы считать целочисленными.

In [77]:
def diag_prod(matrix: np.array) -> int:
    diag=np.diag(matrix)
    res=int(np.prod(diag[diag != 0]))
    return res

In [78]:
matrix = np.array([[0, 1, 2, 3],
                   [4, 5, 6, 7],
                   [8, 9, 10, 11],
                   [12, 13, 14, 15]])

assert diag_prod(matrix) == 750

✅ 4. Для улучшения качества работы некоторых алгоритмов машинного обучения может быть полезно использовать [нормализацию данных](https://vk.cc/8xmfQk), чтобы привести признаки в выборке к одному масштабу — а именно, из каждого столбца вычесть среднее его значений и поделить на их стандартное отклонение. Напишите функцию, нормализующую входящую матрицу (по столбцам). Помните, что в вашем матрице не должно получаться пустых значений nan. 

4* Подумайте, почему могли бы возникнуть пустые значения?)

In [79]:
def normalize(matrix: np.array) -> np.array:
    res=[]
    for column in matrix.T:
    #пустые значения возникают в случае, когда элементы столбца одинаковые
    #данное условие помогает заменить пустые значения нулями
        if len(np.unique(column))==1: column.fill(0)
        else:
            mean=np.mean(column)
            dev=np.std(column)
            column=column-mean
            column=column/dev
        res.append(column.tolist())
    res=np.asarray(res)
    return res.T

In [80]:
matrix = np.array([[1, 4, 4200], [0, 10, 5000], [1, 2, 1000]])

assert np.allclose(
    normalize(matrix),
    np.array([[ 0.7071, -0.39223,  0.46291],
              [-1.4142,  1.37281,  0.92582],
              [ 0.7071, -0.98058, -1.38873]])
)

In [81]:
matrix = np.array([[-7, 2, 42], [2, 10, 50], [5, 4, 10]])

assert np.allclose(
    normalize(matrix),
    np.array([[-1.37281, -0.98058,  0.46291],
              [ 0.39223,  1.37281,  0.92582],
              [ 0.98058, -0.39223, -1.38873]])
)

✅ 5. Напишите функцию, вычисляющую косинусную близость двух векторов. Например, если на вход поступают вектора array([-2, 1, 0, -5, 4, 3, -3]) и array([0, 2, -2, 10, 6, 0, 0]), ответом будет -0.25.

In [82]:
def cosine_similarity(vec1: np.array, vec2: np.array) -> float:
    cos_eq = np.dot(vec1,vec2)/(np.linalg.norm(vec1)*np.linalg.norm(vec2))
    return cos_eq

In [83]:
vec1 = np.array([-2, 1,  0, -5, 4, 3, -3])
vec2 = np.array([ 0, 2, -2, 10, 6, 0,  0])

assert np.allclose(cosine_similarity(vec1, vec2), -0.25)

In [84]:
vec1 = np.array([-4, 2,  9, -8, 9, 0, -2])
vec2 = np.array([ 3, 2, -4, -1, 3, 2,  2])

assert np.allclose(cosine_similarity(vec1, vec2), -0.119929)